name: Test
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  test_headless:
    name: Test (Headless Firefox)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Test (Diesel)
        run: cd test-diesel && wasm-pack test --firefox --headless
      - name: Test (Rusqlite)
        run: cd test-rusqlite && wasm-pack test --firefox --headless

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check clippy (Workspace)
        run: |
          rustup target add wasm32-unknown-unknown
          cargo clippy --workspace --target wasm32-unknown-unknown -- -D warnings
      - name: Check clippy (Rusqlite Tests)
        run: |
          cargo clippy --manifest-path test-rusqlite/Cargo.toml --target wasm32-unknown-unknown -- -D warnings

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check fmt
        run: cargo fmt --check

  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check documentation
        run: |
          rustup target add wasm32-unknown-unknown
          cargo doc --no-deps --document-private-items --target wasm32-unknown-unknown
